# .gitignore for Newbie engine

# Exclude CMake temp files
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Exclude CMake build
[Bb]uild/
[Bb]uilds/
CMakeBuild/

# Exclude Visual Studio Code related
.vscode

# Exclude external module files except cmake related
modules/external/*
!modules/external/CMakeLists.txt
!modules/external/*.cmake